body {
  background-image: url(./img/apartments.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Quicksand", serif !important;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.with-fixed-nav{
  margin-top:4em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.universal_card {
  background-color: #FBFCFD;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
  /* background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(); */
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(255, 155, 155, 0.2);
}

.universalCard {
background-color: transparent;
border-radius: 15px;
padding: 20px;
margin-bottom: 30px;
/* background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(); */
background-size: 100%;
border-radius: 3px;
box-shadow: 0 1.5rem 4rem rgba(255, 155, 155, 0.2);
}

.universal_btn {
  background-color: #001d43;
  color: white;
}

.universal_btn:hover {
  background-color: #14498d;
  color: white;
}
