body {
    font-family: sans-serif;
  }
  
  
  
  .no-suggestions {
    color: #999;
    padding: 0.5rem;
  }
  
  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: 88%;
    position: absolute;
    left: 6%;
    background-color: #ffffff;
    z-index: 10000;
  }
  
  .suggestions li {
    padding: 0.5rem;
   
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: #008f68;
    color: #fae042;
    cursor: pointer;
    font-weight: 700;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }