.register_title {
    color: #001d43;
}

.register_card {
    background-color: #FBFCFD;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    /* background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(/img/five.jpg); */
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(255, 155, 155, 0.2);
}

.register_btn {
    background-color: #001d43;
    color: white;
}

.register_btn:hover {
    background-color: #14498d;
    color: white;
}